[submodule "Petal/external/spdlog"]
	path = Petal/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Petal/external/glm"]
	path = Petal/external/glm
	url = https://github.com/g-truc/glm
